.bruh{
  border-top: 9px solid #A91C27;
  background-color: #FF0F3F;
  padding: 15px 25px;
}
.bruh td{
 font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: -2.6px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none; 
}
.bruh table{
  margin-left: auto;
  margin-right: auto;
}
